* {
  box-sizing: border-box;
  margin: 0px;
}
.footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  padding: 20px;
  width: 100vw;
  text-align: center;
  background-color: rgba(23, 23, 23, 0.751);
  color: white;
  font-size: 1.2rem;
}
/* body {
  background-color: black;
} */
li {
  list-style-type: none;
}
.projects {
  /* box-shadow: 20px 20px 20px white; */
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: rgba(44, 45, 44, 0.751);
  padding: 20px;
  width: 100vw;
}
button:hover {
  background-color: rgba(12, 160, 12, 0.753);
  color: white;
}
.overlay {
  background-color: rgba(36, 36, 35, 0.276);
  padding: 20px;
  border-radius: 20px;
  max-width: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(12, 160, 12, 0.753);
  /* font-size: 1.3rem; */
  position: absolute;
  top: 20%;
  left: 5%;
}
.logo-name {
  float: left;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Righteous", sans-serif;
  /* gap: 101px; */
  width: 70%;
  padding: 20px;
}
.button {
  float: left;
  padding: 20px;
  width: 30%;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;

  /* font-weight: bold; */
}
button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px green;
  font-size: 1.2rem;
}
.header {
  margin-bottom: 0;
  background-color: rgb(36, 36, 35);
  height: 80px;
  width: 100vw;
  /* min-height: 100px; */
}

.img {
  margin-top: 0px;
  /* height: 100vh; */
  max-height: 600px;
  width: 100vw;
  filter: brightness(20%);
}
/* h1 {
  font-size: 1.2rem;
} */
@media screen and (max-width: 300px) {
  .logo-name,
  .button {
    width: 100%;
  }
}
